.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.form-field {
  width: 100%;
}

mat-form-field {
  width: 100%; 
}

#descripcion {
  grid-column: 1 / -1; 
}

textarea {
  width: 100%;  
  resize: none;
}

.error {
  color: red;
}