<body>
    <div class="container">
      <div class="card">
        <img src="compusurlogo..jpg" class="logo" alt="Logo">
  
        <h1 class="title1">Iniciar sesión</h1>
  
        <label class="text1" for="username">Nombre de usuario:</label>
       <div class="input-container">
         <i class="fas fa-user icon"></i>
         <input class="input1" id="username" type="text" placeholder="Ingresa tu usuario">
       </div>

        <label class="text1" for="password">Contraseña:</label>
          <div class="input-container">
            <i class="fas fa-lock icon"></i>
            <input class="input1" id="password" type="password" placeholder="Ingresa tu contraseña">
          </div>

        <p class="jeje">Se te olvido la contraseña?</p>

        <button class="boton" (click)="login()">Iniciar sesión</button>
      </div>
    </div>
  </body>