
.header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  margin-bottom: 20px;            
}

.forms{
  display: flex;
  gap: 50px;
}

.add,
.salida{
    width: 250px;
    height: 60px;
    background-color: #045CFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

.icon{
    font-size: 35px;  
    height: 30px;
    width: 30px;
    margin-right: 35px;
}

.icon-btn {
  font-size: 30px;
  margin-right: 12px;
  vertical-align: middle;
  bottom: 4px;
  position: relative;
}

.salida{
  background-color: red;
}

.botons{
  display: flex;
  gap: 30px;
  position: relative;
}

.table {
  width: 100%;
  overflow-x: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.table thead {
  background-color: #045CFF;
  text-align: center;
  height: 60px;
  font-size: 21px;
  color: #ffffff;
}

.table th, .table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.delete{
  padding: 8px 16px;
  margin-right: 10px; 
  width: 60px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  background: rgb(252, 0, 0);
}

.delete:hover,
.salida:hover{
    background: rgb(243, 47, 47);
}