<div class="header-row">
  <h1>Control de inventario:</h1>
  <button class="add" (click)="addAlmacen()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Crear Almacén
  </button>
</div>

<div class="content1">
    <p class="enter">Seleccione un almacén:</p>

    <div class="botones">
      <button class="edit" (click)="editAlmacen()">Editar Almacén</button>
      <button class="delete" (click)="deleteAlmacen()">Eliminar Almacén</button>
    </div>
    
</div>


<div class="almacenes">
    <button class="almacen" (click)="verAlmacen(almacen)"  *ngFor="let almacen of almacenes" >
      {{almacen.name}}
    </button>
</div>