<h1 mat-dialog-title>Generar entrada:</h1>

<mat-dialog-content>
    <form [formGroup]="formEntrance">
        
        <h3>Seleccione el producto:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Producto:</mat-label>
            <mat-select formControlName="product">
            <mat-option *ngFor="let product of productos" [value]="product.id">
                {{product.name}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <div [hidden]="product.valid || product.pristine" class="error">
            <span *ngIf="product.errors?.['required']">El campo es requerido</span>
        </div>

        <h3>Seleccione proveedor:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Proveedor:</mat-label>
            <mat-select formControlName="provider">
            <mat-option *ngFor="let prov of proveedores" [value]="prov.id">
                {{prov.name}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <div [hidden]="provider.valid || provider.pristine" class="error">
            <span *ngIf="provider.errors?.['required']">El campo es requerido</span>
        </div>
      
        <h3>Ingrese monto de entrada:</h3>
            <mat-form-field appearance="fill">
            <mat-label>Cantidad:</mat-label>
            <input matInput formControlName="quantity" type="number">
            </mat-form-field>
        <div [hidden]="quantity.valid || quantity.pristine" class="error">
            <span *ngIf="quantity.errors?.['required']">El campo es requerido</span>
        </div>

        <div [hidden]="quantity.valid || quantity.pristine" class="error">
            <span *ngIf="quantity.errors?.['min']">Debe haber almenos un producto</span>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button  style="background-color: blue; color: white;" (click)="addEntrance()">Realizar entrada</button>
    <button mat-flat-button mat-dialog-close style="background-color: red; color: white;">Cancelar</button>
</mat-dialog-actions>