<div class="header-row">
  <h1>Subcategorias</h1>
  <button class="add" (click)="addSubcategory()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar Subcategoría
  </button>
</div>

<div class="content1">
  <p class="enter">Ingrese subcategoria:</p>
<input type="text" placeholder="Buscar subcategoria...">

<div class="botons">
  <button class="boton1">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>


<button class="boton1" (click)="page1()">
Categorias
</button>
</div>

</div> 



<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Subcategoria</th>
             <th>Descripcion de la subcategoria</th>
             <th>Categoria</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr>   
             <th>1</th>
             <th>Escritorio</th>
             <th>Computadora diseñada para el trabajo</th>
             <th>Computadoras</th>
             <th>
               <button class="edit"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button>
               <button class="delete" ><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>