<div class="header-row">
  <h1>Subcategorias</h1>
  <button class="add" (click)="addSubcategory()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar Subcategoría
  </button>
</div>

<div class="content1">
  <p class="enter">Ingrese subcategoria:</p>
  <input type="text" placeholder="Buscar subcategoria..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)">

  <div class="botons-column">
    <div class="botons">
      <button class="boton1" (click)="search()">
        <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
        Buscar
      </button>

      <button class="boton1" (click)="page1()">
        Categorias
      </button>
    </div>

    <div class="filter-section">
      <mat-form-field appearance="fill">
        <mat-label>Filtrar por categoría</mat-label>
        <mat-select [(value)]="selectCategoryId" (selectionChange)="filtrarPorCategoria()">
          <mat-option value="">Todas</mat-option>
          <mat-option *ngFor="let cat of categorias" [value]="cat.id">
            {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    
  </div>
</div>

<div class="table">
  <table>
    <thead>
      <tr>   
        <th>Nro °</th>
        <th>Subcategoria</th>
        <th>Descripcion de la subcategoria</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sub of subcategoriasFiltrada; let i = index">   
        <th>{{ i + 1 }}</th>
        <th>{{sub.name}}</th>
        <th>{{sub.description}}</th>
        <th>{{sub.category.name}}</th>
        <th>
          <button class="edit" (click)="editSubcategory(sub)">
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>
          <button class="delete" (click)="deleteSubcategory(sub.id!)">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<br><br><br><br>