<div class="header-row">
  <h1>Subcategorias</h1>
  <button class="add" (click)="addSubcategory()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar Subcategoría
  </button>
</div>

<div class="content1">
  <p class="enter">Ingrese subcategoria:</p>
<input type="text" placeholder="Buscar subcategoria..." [(ngModel)]="searchTerm">

<div class="botons">
  <button class="boton1" (click)="search()">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>


<button class="boton1" (click)="page1()">
Categorias
</button>
</div>

</div> 



<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Subcategoria</th>
             <th>Descripcion de la subcategoria</th>
             <th>Categoria</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let subcategorias of subcategorias; let i = index">   
             <th>{{ i + 1 }}</th>
             <th>{{subcategorias.name}}</th>
             <th>{{subcategorias.description}}</th>
             <th>{{subcategorias.category.name}}</th>
             <th>
               <button class="edit" (click)="editSubcategory(subcategorias)"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button>
               <button class="delete" (click)="deleteSubcategory(subcategorias.id!)" ><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>