<div class="header-row">
  <h1>Gestión de salidas:</h1>
    <div class="botons">
        <button class="kardex-boton" (click)="kardex()">
            Panel de Inventario
        </button> 
        <button class="entrance" (click)="entradas()">
            Gestión de entradas
        </button>
    </div>
</div>


<div class="content1">
  <p class="enter">Buscar producto:</p>
<input type="text" placeholder="Ingrese producto..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)">

<div class="botons" style="bottom: 5px;">
  <button class="boton1" (click)="search()">
  <mat-icon fontIcon="search" class="icon-btn" ></mat-icon>
  Buscar
</button>

</div>

</div> 


<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Fecha</th>
             <th>Nombre del producto</th>
             <th>Proveedor</th>
             <th>Cantidad</th>
             <th>Precio</th>
             <th>Monto total</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let salida of salidas">
             <th>{{salida.createdAt | date:'dd/MM/yyyy'}}</th>   
             <th>{{salida.product.name}}/th>
             <th>{{salida.supplier?.name}}</th>
             <th>{{salida.quantity}}</th>
             <th>S/.{{salida.product.price | number:'1.2-2'}}</th>
             <th>S/.{{ salida.product.price * salida.quantity | number:'1.2-2' }}</th>
           </tr>
         </tbody>
      </table>
</div>

<br><br><br><br>