<div class="header-row">
  <h1>Gestión de salidas:</h1>
  <div class="botons">
    <button class="kardex-boton" (click)="kardex()">
      Panel de Inventario
    </button>
  </div>
</div>

<h2>Filtros:</h2>
<div class="filters">

  <mat-form-field>
  <mat-label>Filtrar por usuario</mat-label>
  <mat-select [(value)]="selectedUserId" (selectionChange)="filtrarPorUsuario()">
    <mat-option value="">Todos</mat-option>
    <mat-option *ngFor="let user of usuarios" [value]="user.id">
      {{ user.nombre}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Seleccionar destino:</mat-label>
  <mat-select [(value)]="destinoId" (selectionChange)="filtrarPorDestino()">
    <mat-option value="">Todos</mat-option>
    <mat-option *ngFor="let destino of usuarios" [value]="destino.id">
      {{ destino.nombre }}
    </mat-option>
  </mat-select>
</mat-form-field>

  <!-- <mat-form-field>
  <mat-label>Fecha</mat-label>
  <input matInput [matDatepicker]="datepicker" [(ngModel)]="filterDate" (dateChange)="aplicarFiltros()">
  <mat-datepicker #datepicker></mat-datepicker>
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
</mat-form-field> -->


</div>


<div class="table">
  <table>
    <thead>
      <tr>
        <th>Nro°</th>
        <th>Fecha registro</th>
        <th>Usuario</th>
        <th>Destino</th>
        <th>Cantidad total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salida of  pagedSalidas; let i = index">
        <th>{{ (pageIndex * pageSize) + i + 1 }}</th>
        <th>{{salida.createdAt | date: 'dd-MM-yyyy'}}</th>
        <th>{{salida.user?.nombre}}</th>
        <th>{{ salida.destino?.nombre || 'Sin destino' }}</th>
        <th>{{ getCantidadTotal(salida) }}</th>

        <th>
          <button class="delete" style="background-color: #19ff04" (click)="view(salida.id)"><mat-icon
              aria-hidden="false" fontIcon="visibility"></mat-icon></button>
          <button class="delete" (click)="eraseSalida(salida.id)"><mat-icon aria-hidden="false"
              fontIcon="delete"></mat-icon></button>
        </th>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="salidasFiltradas.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</div>

<br><br><br><br>