<div class="header-row">
  <h1>Kardex del sistema:</h1>
</div>

<div class="content1">
  <p class="enter">Ingrese Producto:</p>
  <input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm"
  (ngModelChange)="onSearchTermChange($event)" class="input-busqueda">

  <button class="boton1" (click)="search()">
    <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
    Buscar
  </button>
</div>

<p style="font-size: 26px; font-weight: 500;position: relative; top: 16px;">Filtros:</p>

<div class="filtros-container">
  <div class="filters">

    <mat-form-field appearance="fill">
      <mat-label>Movimiento</mat-label>
      <mat-select [(ngModel)]="tipoFiltro">
        <mat-option value="todos">Todos</mat-option>
        <mat-option value="entrada">Entradas</mat-option>
        <mat-option value="salida">Salidas</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ordenar por fecha</mat-label>
      <mat-select [(ngModel)]="ordenFecha">
        <mat-option value="desc">Más recientes</mat-option>
        <mat-option value="asc">Más antiguas</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Filtrar por fecha</mat-label>
      <input matInput [matDatepicker]="datepicker" placeholder="Selecciona fecha" [(ngModel)]="fechaFiltro" />
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rango de tiempo</mat-label>
      <mat-select [(ngModel)]="filtroTiempo" (selectionChange)="filtrarPorTiempo()">
        <mat-option value="todo">Todo</mat-option>
        <mat-option value="mes">Mes actual</mat-option>
        <mat-option value="6meses">Últimos 6 meses</mat-option>
        <mat-option value="anio">Año actual</mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="limpiarFiltros()" class="clean">Limpiar</button>

  </div>
</div>


<div class="table" *ngIf="!isLoading">
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Movimiento</th>
        <th>Nombre del producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Monto total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mov of movimientosPaginados">
        <th>{{ mov.fecha | date: 'shortDate' }}</th>
        <td [ngStyle]="{ color: mov.movimiento === 'Entrada' ? '#27F53F' : 'red' }">{{ mov.movimiento }}</td>
        <th>{{ mov.producto }}</th>
        <th>{{ mov.cantidad }}</th>
        <th>S/. {{ mov.precio | number: '1.2-2' }}</th>
        <th>S/. {{ mov.total | number: '1.2-2' }}</th>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="movimientosFiltrados.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</div>

<br><br><br><br>