<div class="header-row">
  <h1>Categorias</h1>
  <button class="add" (click)="addCategory()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar Categoría
  </button>
</div>

<div class="content1">
  <p class="enter">Ingrese categoria:</p>
<input type="text" placeholder="Buscar categoria...">

<div class="botons">
  <button class="boton1">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>


<button class="boton1" (click)="page2()">
Subcategorias
</button>
</div>

</div> 



<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Nombre</th>
             <th>Descripcion de la categoria</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let categoria of categorias">   
             <th>1</th>
             <th>{{categoria.name}}</th>
             <th>{{categoria.description}}</th>
             <th>
               <button class="edit" (click)="editCategory(categoria)"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button>
               <button class="delete" (click)="deleteCategoria(categoria.id!)"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>