<div class="header-row">
  <h1>Categorias</h1>
  <button class="add">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar Categoría
  </button>
</div>

<div class="content1">
  <p class="enter">Ingrese categoria:</p>
<input type="text" placeholder="Buscar categoria...">

<button class="boton1">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>
</div> 



<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Nombre</th>
             <th>Descripcion de la categoria</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr>   
             <th>1</th>
             <th>Computadoras</th>
             <th>Dispositivo electrónico que procesa datos mediante programas.</th>
             <th>
               <button class="edit">Editar</button>
               <button class="delete" >Eliminar</button>
             </th>
           </tr>
         </tbody>
      </table>
</div>