.header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;                     
}

.botons{
  display: flex;
  gap: 15px;
}

.add{
    width: 280px;
    height: 65px;
    background-color: #045CFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.icon{
    font-size: 35px;  
    height: 30px;
    width: 30px;
    margin-right: 35px;
}

.icon-btn {
  font-size: 30px;
  margin-right: 12px;
  vertical-align: middle;
  bottom: 4px;
  position: relative;
}

.content1{
    position: relative;
    bottom: -10px;
    display: flex;
    font-size: 22px;
    justify-content: space-between; 
    align-items: center
}

.almacen{
    width: 340px;
    height: 70px;
    background-color: #045CFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.almacenes {
  display: flex;
  flex-wrap: wrap;       
  gap: 60px;    
  margin-top: 30px;
  position: relative;          
}

.almacen {
  flex: 1 1 calc(26.33% - 10px);
  min-width: 120px;      
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

