<h2 mat-dialog-title>Editar Almacén</h2>

<mat-dialog-content>
  <form [formGroup]="formAlmacen">
    <h3>Seleccionar Almacén:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Almacenes:</mat-label>
      <mat-select formControlName="id">
        <mat-option *ngFor="let almacen of almacenes" [value]="almacen.id">
          {{ almacen.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div [hidden]="id.valid || id.pristine" class="error">
      <span *ngIf="id.errors?.['required']">Debe seleccionar un almacén</span>
    </div>

    <h3>Cambiar nombre:</h3>
    <mat-form-field appearance="fill">
      <mat-label>Nuevo nombre:</mat-label>
      <input matInput formControlName="newname" />
    </mat-form-field>
    <div [hidden]="newname.valid || newname.pristine" class="error">
      <span *ngIf="newname.errors?.['required']">El campo es requerido</span>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-flat-button
    (click)="editar()"
    style="background-color: blue; color: white"
  >
    Cambiar nombre
  </button>
  <button
    mat-flat-button
    mat-dialog-close
    style="background-color: red; color: white"
  >
    Cerrar
  </button>
</mat-dialog-actions>