<div class="header-row">
  <h1>Generar Entrada:</h1>
  <div class="botons">
    <button class="salida" (click)="gestor()">
      Gestión de entradas
    </button>
    
    <button *ngIf="tipoEntrada === 'DIRECTA'" class="add" (click)="addProduct()">
  <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
  Añadir producto
</button>
  </div>

</div>

<div class="forms">

  <div>
  <h3>Tipo de entrada:</h3>

  <mat-form-field appearance="fill" style="width: 280px;">
    <mat-label>Tipo</mat-label>

    <mat-select [(ngModel)]="tipoEntrada" (selectionChange)="onTipoEntradaChange()">

      <mat-option value="DIRECTA">
        Entrada directa
      </mat-option>

      <mat-option value="GUIA">
        Desde una solicitud
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="tipoEntrada === 'GUIA'">

  <h3>Seleccione Pedido:</h3>

  <mat-form-field appearance="fill" style="width: 280px;">
    <mat-label>Pedidos</mat-label>

    <mat-select [(ngModel)]="guiaSeleccionadaId" (selectionChange)="cargarGuia()">
      <mat-option *ngFor="let guia of guias" [value]="guia.id">{{ guia.numero }}</mat-option>
    </mat-select>
  </mat-form-field>

</div>

  <div *ngIf="tipoEntrada === 'GUIA'">

  <h3>Proveedor:</h3>

  <mat-form-field appearance="fill" style="width: 280px;">
    <mat-label>Proveedor</mat-label>

    <mat-select [formControl]="proveedor" [disabled]="tipoEntrada === 'GUIA'">

      <mat-option *ngFor="let prov of proveedores" [value]="prov.id">
        {{ prov.name }}
      </mat-option>

    </mat-select>

  </mat-form-field>

</div>

</div>

<br><br>

<div>
  <h2>Entradas registradas:</h2>
</div>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Nro°</th>
        <th>Tipo</th>
        <th>Nroº pedido</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Nro° de serie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entrada of paginadasEntradas; let i = index">
        <th>{{ (pageIndex * pageSize) + i + 1 }}</th>
        <th>{{ entrada.tipoentrada === 'DIRECTA' ? 'Entrada directa' : 'Pedido' }}</th>
        <th>{{entrada.guiaRemision?.numeroGuia || '---'}}</th>
        <th>{{entrada.productName}}</th>
        <th>{{entrada.quantity}}</th>
        <th><span *ngIf="entrada.serialNumbers?.length > 0">{{ entrada.serialNumbers.join(', ') }}</span>
            <span *ngIf="!entrada.serialNumbers?.length">---</span>
        </th>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="entradasRegistradas.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>

<br><br>

<div style="display: flex; gap: 30px;">

  <br>
  <h2 style="margin-top:20px; position: relative; right: 26px;">
    Cantidad total: {{ getCantidadTotal() }}
  </h2>
</div>
<br>
<button class="salida" style="height: 52px; width: 220px; " (click)="realizarEntrada()">Realizar entrada</button>