<div class="header-row">
  <h1>Gestión de salidas:</h1>
    <div class="botons">
        <button class="kardex-boton" (click)="kardex()">
            Panel de Inventario
        </button> 
        <button class="entrance" (click)="entradas()">
            Generar salida
        </button>
    </div>
</div>

<h2>Filtros:</h2>
<div class="filters">

<mat-form-field appearance="fill">
    <mat-label>Filtrar por</mat-label>
    <mat-select [(value)]="selectedOpcion" (selectionChange)="onOpcionChange()">
      <mat-option *ngFor="let op of opciones" [value]="op">{{ op }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedOpcion === 'Cliente'" appearance="fill">
    <mat-label>Seleccionar Cliente</mat-label>
    <mat-select [(value)]="selectedClienteId" (selectionChange)="filtrarSalidas()">
      <mat-option value="">Todos</mat-option>
      <mat-option *ngFor="let c of clientes" [value]="c.id">{{ c.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedOpcion === 'Proveedor'" appearance="fill">
    <mat-label>Seleccionar Proveedor</mat-label>
    <mat-select [(value)]="selectedProveedorId" (selectionChange)="filtrarSalidas()">
      <mat-option value="">Todos</mat-option>
      <mat-option *ngFor="let p of proveedores" [value]="p.id">{{ p.name }}</mat-option>
    </mat-select>
  </mat-form-field>


<!-- <mat-form-field>
  <mat-label>Fecha</mat-label>
  <input matInput [matDatepicker]="datepicker" [(ngModel)]="filterDate" (dateChange)="aplicarFiltros()">
  <mat-datepicker #datepicker></mat-datepicker>
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
</mat-form-field> -->


</div>


<div class="table">
     <table>
         <thead>
           <tr>
            <th>Nro°</th>
             <th>Fecha registro</th>
             <th>Proveedor/Cliente</th>
             <th>Cantidad total</th>
             <th>Monto total</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let salida of salidasFiltradas; let i = index">
            <th>{{i + 1}}</th>
             <th>{{salida.createdAt | date: 'dd-MM-yyyy'}}</th>   
             <th>{{ getNombreProveedorCliente(salida) }}</th>
              <th>{{ getCantidadTotal(salida) }}</th>
              <th>S/.{{ getMontoTotal(salida) }}</th>

             <th>
                 <button class="delete" style="background-color: #19ff04" (click)="view(salida.id)"><mat-icon aria-hidden="false" fontIcon="visibility"></mat-icon></button>
                 <button class="delete" (click)="eraseSalida(salida.id)"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>

<br><br><br><br>