<div class="header-row">
  <h1>Control de inventario:</h1>
    <div class="botons">
        <button class="add" (click)="addProduct()">
            <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
            Agregar producto
        </button> 
        <button class="add" (click)="almacen1()">
            Almacenes
        </button>
    </div>
</div>

<div class="content1">
  <p class="enter">Ingrese Producto:</p>
<input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm" >

<div class="c2">
  <div class="botons">
    <button class="boton1" (click)="searchProduct()">
      <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
      Buscar
    </button>

    <div class="miniselect">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Categorías
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p style="cursor: pointer;">Computadora</p>
          <p style="cursor: pointer;">Laptop</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  
</div>

</div>

<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nombre del producto</th>
             <th>Imagen</th>
             <th>Stock entrada</th>
             <th>Cantidad</th>
             <th>Stock salida</th>
             <th>Precio</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
            <tr *ngFor="let producto of productos">
              <td>{{ producto.name }}</td>
              <td><img [src]="producto.image" alt="Imagen" width="50"></td>
              <td>4</td>
              <td>{{ producto.quantity }}</td>
              <td>0</td>
              <td>S/.{{ producto.price | number: '1.2-2' }}</td>
              <td>
                <button class="view"><mat-icon fontIcon="visibility"></mat-icon></button>
                <button class="delete" (click)="eraseProduct(producto.id)"><mat-icon fontIcon="close"></mat-icon></button>
              </td>
            </tr>

            <tr *ngIf="productos.length === 0">
              <td colspan="6" style="text-align:center; color: gray;">No hay productos en este almacén xd</td>
            </tr>
        </tbody>
      </table>
</div>

