.header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  margin-bottom: 20px;            
}

.add{
    width: 280px;
    height: 65px;
    background-color: #045CFF;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.icon{
    font-size: 35px;  
    height: 30px;
    width: 30px;
    margin-right: 35px;
}

.icon-btn {
  font-size: 30px;
  margin-right: 12px;
  vertical-align: middle;
  bottom: 4px;
  position: relative;
}

.enter{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 46px;
}

input{
    width: 950px;
    height: 45px;
    font-size: 24px;
    position: relative;
    left: 20px;
    bottom: -70px;
    border-radius: 8px;
    outline: none;
    border-color: #A4A4A4;
    padding-left: 20px; 
}

.content1{
    position: relative;
    bottom: 20px;
    display: flex;
    
}



.botons{
  display: flex;
  gap: 30px;
}

.table {
  width: 100%;
  overflow-x: auto;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 30px;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.table thead {
  background-color: #045CFF;
  text-align: center;
  height: 60px;
  font-size: 21px;
  color: #ffffff;
}

.table th, .table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

tbody{
  text-align: center;
}

.c2 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  left: 70px;
  bottom: -50px;
}

.boton1 {
  width: 180px;
  height: 56px;
  cursor: pointer;
  background-color: #045CFF;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miniselect {
  position: relative;
  width: 160px;      
  height: 60px;       
  overflow: visible;  
}

::ng-deep .mat-expansion-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;         
}

mat-accordion {
  width: 200px; 
}

.view{
  padding: 8px 16px;
  margin-right: 10px; 
  width: 60px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  background: rgb(1, 255, 1);
}

.delete{
  padding: 8px 16px;
  margin-right: 10px; 
  width: 60px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  background: rgb(252, 0, 0);
}


.view:hover{
    background: rgb(52, 250, 52)
}

.delete:hover{
    background: rgb(243, 47, 47);
}

