<div class="header-row">
  <h1>Gestión de entradas:</h1>
    <div class="botons">
        <button class="entrance" (click)="kardex()">
            Panel de Inventario
        </button> 
        <button class="salida" (click)="salidas()">
            Ver salidas
        </button>
    </div>
</div>


<div class="content1">
  <p class="enter">Buscar producto:</p>
<input type="text" placeholder="Ingrese producto...">

<div class="botons" style="bottom: 5px; right: 40px;">
  <button class="boton1">
  <mat-icon fontIcon="search" class="icon-btn" ></mat-icon>
  Buscar
</button>


</div>

</div> 


<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Fecha</th>
             <th>Nombre del producto</th>
             <th>Proveedor</th>
             <th>Cantidad</th>
             <th>Precio</th>
             <th>Monto total</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let entrada of entradas">
             <th>{{entrada.createdAt | date:'dd/MM/yyyy'}}</th>   
             <th>{{entrada.product.name}}</th>
             <th>{{entrada.supplier?.name}}</th>
             <th>{{entrada.quantity}}</th>
             <th>S/.{{entrada.product.price | number:'1.2-2'}}</th>
             <th>S/.{{ entrada.product.price * entrada.quantity | number:'1.2-2' }}</th>
             <th>
                 <button class="view" ><mat-icon aria-hidden="false" fontIcon="visibility"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>