<div class="header-row">
  <h1>Gestión de proveedores:</h1>
  <button class="add" (click)="createSupplier()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar proveedor
  </button>
</div>

<div class="content1">
  <p class="enter">Buscar proveedor:</p>
<input type="text" placeholder="Ingrese proveedor..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)">

<div class="botons">
  <button class="boton1" (click)="search()">
  <mat-icon fontIcon="search" class="icon-btn" ></mat-icon>
  Buscar
</button>

</div>

</div> 


<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Nombre</th>
             <th>Telefono</th>
             <th>Descripción</th>
             <th>Fecha de creación</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let proveedor of proveedores; let i = index">   
             <th>{{i + 1}}</th>
             <th>{{proveedor.name}}</th>
             <th>{{proveedor.phone}}</th>
             <th>{{proveedor.description}}</th>
             <th>{{proveedor.createdAt | date:'dd-MM-yyyy'}}</th>
             <th>
               <button class="edit" (click)="editSupplier(proveedor)"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button>
               <button class="delete" (click)="deleteSupplier(proveedor.id!)"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>

<br><br><br><br>
