<div class="header-row">
  <h1>Gestión de proveedores:</h1>
  <button class="add" (click)="createSupplier()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Agregar proveedor
  </button>
</div>

<div class="content1">
  <p class="enter">Buscar proveedor:</p>
  <input type="text" placeholder="Ingrese proveedor..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange($event)">

  <div class="botons">
    <button class="boton1" (click)="search()">
      <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
      Buscar
    </button>

  </div>

</div>


<div class="table">
  <table>
    <thead>
      <tr>
        <th>Nro °</th>
        <th>RUC</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of paginatedProveedores; let i = index">
        <th>{{ (pageIndex * pageSize) + i + 1 }}</th>
        <th>{{proveedor.ruc}}</th>
        <th>{{proveedor.name}}</th>
        <th>{{proveedor.description}}</th>
        <th>{{proveedor.createdAt | date:'dd-MM-yyyy'}}</th>
        <th>
          <button class="edit" (click)="editSupplier(proveedor)"><mat-icon aria-hidden="false"
              fontIcon="edit"></mat-icon></button>
          <button class="view" (click)="view(proveedor)"><mat-icon aria-hidden="false"
              fontIcon="visibility"></mat-icon></button>
          <button class="delete" (click)="deleteSupplier(proveedor.id!)"><mat-icon aria-hidden="false"
              fontIcon="delete"></mat-icon></button>
        </th>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="proveedores.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 8, 10, 20]">
  </mat-paginator>
</div>

<br><br><br><br>