<h2 mat-dialog-title>Añadir producto:</h2>


<mat-dialog-content>
    <div class="content1">
  <p class="enter">Ingrese Producto:</p>
<input type="text" placeholder="Buscar producto...">

<button class="boton1" (click)="search()">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>
</div> 

<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nombre del producto</th>
             <th>Imagen</th>
             <th>Estado</th>
             <th>Cantidad</th>
             <th>Precio</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr >
            <th></th>   
             <th><img></th>
             <th></th>
             <th></th>
             <th>S/.</th>
             <th>
               <button class="add"><mat-icon aria-hidden="false" fontIcon="add"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>

</mat-dialog-content>


<mat-dialog-actions>
    <button mat-flat-button mat-dialog-close style="background-color: red; color: white;">Cerrar</button>
</mat-dialog-actions>