<h1>Bienvenido, {{usuarioNombre}}</h1>

<div class="container">
<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        Entradas registradas
        <div class="logo">
            <span class="material-symbols-outlined">article</span>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="count">{{totalEntradas}}</div>
    </mat-card-content>
</mat-card>


<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        Salidas registradas
        <div class="logo2">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="upload"></mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="count">{{totalSalidas}}</div>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        Productos registrados
        <div class="logo3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="article"></mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="count">{{totalProductos}}</div>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        Total de proveedores
        <div class="logo4" style="background-color: orange;">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups"></mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="count">{{totalProveedores}}</div>
    </mat-card-content>
</mat-card>


<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        Importe entradas
        <div class="logo4" style="background-color: rgb(47, 255, 134);">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="attach_money"></mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="count">S/.{{totalMontoEntradas}}</div>
    </mat-card-content>
</mat-card>

<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        Importe salidas
        <div class="logo4" style="background-color: rgb(245, 72, 72);">
            <mat-icon aria-hidden="false" aria-label="Icono de dinero" fontIcon="attach_money"></mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="count">S/.{{totalMontoSalidas}}</div>
    </mat-card-content>
</mat-card>

</div>
