<div class="header-row">
  <h1>Gestión de entradas:</h1>
    <div class="botons">
        <button class="entrance" (click)="kardex()">
            Panel de Inventario
        </button> 
        <button class="salida" (click)="salidas()" style="background-color: rgb(1, 255, 1);">
            Generar entrada
        </button>
    </div>
</div>

<h2>Filtros:</h2>
<div class="filters" >
<mat-form-field style="width: 280px;">
  <mat-label>Seleccionar Proveedor</mat-label>
  <mat-select>
    <mat-option value="Compusur EIRL">Compusur EIRL</mat-option>
  </mat-select>
</mat-form-field>
</div>

<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro°</th>
             <th>Fecha de registro</th>
             <th>Proveedor</th>
             <th>Cantidad total</th>
             <th>Monto total</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let entrada of entradas; let i = index">
             <th>{{i + 1}}</th>   
             <th>{{entrada.createdAt | date: 'dd-MM-yy'}}</th>
             <th></th>
             <th>{{getCantidadTotal(entrada)}}</th>
             <th>S/.{{getMontoTotal(entrada)}}</th>
             <th>
              <button class="delete" style="background-color: rgb(1, 255, 1);"><mat-icon aria-hidden="false" fontIcon="visibility"></mat-icon></button>
              <button class="delete"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>

<br><br><br><br>