<h2 mat-dialog-title>Crear Usuario:</h2>

<mat-dialog-content>
    <form [formGroup]="formUser">

        <h3>Nombre:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese nombre:</mat-label>
            <input matInput formControlName="nombre" />
        </mat-form-field>
        <div [hidden]="nombre.valid || nombre.pristine" class="error">
            <span *ngIf="nombre.errors?.['required']">El campo es requerido</span>
        </div>

        <h3>Apellido:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese apellido:</mat-label>
            <input matInput formControlName="lastname" />
        </mat-form-field>
        <div [hidden]="lastname.valid || lastname.pristine" class="error">
            <span *ngIf="lastname.errors?.['required']">El campo es requerido</span>
        </div>

        <h3>Correo electrónico:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese correo electrónico:</mat-label>
            <input matInput formControlName="email" />
        </mat-form-field>
        <div [hidden]="email.valid || email.pristine" class="error">
            <span *ngIf="email.errors?.['required']">El campo es requerido</span>
            <span *ngIf="email.errors?.['email']">Correo no válido</span>
        </div>

        <h3>DNI:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Ingrese DNI:</mat-label>
            <input matInput formControlName="dni" />
        </mat-form-field>
        <div [hidden]="dni.valid || dni.pristine" class="error">
            <span *ngIf="dni.errors?.['required']">El campo es requerido</span>
        </div>
        <div [hidden]="dni.valid || dni.pristine" class="error">
            <span *ngIf="dni.errors?.['pattern']">Solo numeros</span>
        </div>
        <div [hidden]="dni.valid || dni.pristine" class="error">
            <span *ngIf="dni.errors?.['minlength']">Debe tener 8 digitos</span>
        </div>
        <div [hidden]="dni.valid || dni.pristine" class="error">
            <span *ngIf="dni.errors?.['maxlength']">Debe tener 8 digitos</span>
        </div>

        <h3>Contraseña:</h3>
        <mat-form-field appearance="fill">
            <mat-label>Asigne una contraseña:</mat-label>
            <input matInput formControlName="password" type="password"/>
        </mat-form-field>
        <div [hidden]="password.valid || password.pristine" class="error">
            <span *ngIf="password.errors?.['required']">El campo es requerido</span>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button (click)="addUser()" style="background-color: blue; color: white;">Crear usuario</button>
    <button mat-flat-button mat-dialog-close style="background-color: red; color: white;">Cancelar</button>
</mat-dialog-actions>