
<div class="header-row">
  <h1>Gestión de usuarios</h1>
  <button class="add" (click)="createUser()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Crear usuario
  </button>
</div>

<div class="content1">
  <p class="enter">Buscar usuario:</p>
<input type="text" placeholder="Ingrese usuario..." [(ngModel)]="searchTerm">

<div class="botons">
  <button class="boton1" (click)="search()">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>


</div>

</div> 



<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Nombre</th>
             <th>Contraseña</th>
             <th>Rol</th>
             <th>Fecha de creación</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let usuario of usuarios; let i = index">   
             <th>{{i + 1}}</th>
             <th>{{usuario.nombre}}</th>
             <th>{{ ocultarPassword(usuario.password) }}</th>
             <th>{{usuario.role}}</th>
             <th>{{usuario.createdAt | date:'yyyy-MM-dd'}}</th>
             <th>
               <button class="edit" (click)="editUser(usuario)"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button>
               <button class="delete" (click)="deleteUser(usuario.id!)"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>