
<div class="header-row">
  <h1>Gestión de usuarios</h1>
  <button class="add" (click)="createUser()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Crear usuario
  </button>
</div>

<div class="content1">
  <p class="enter">Buscar usuario:</p>
<input type="text" placeholder="Ingrese usuario..." >

<div class="botons">
  <button class="boton1" >
  <mat-icon fontIcon="search" class="icon-btn" ></mat-icon>
  Buscar
</button>


</div>

</div> 



<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nro °</th>
             <th>Nombre</th>
             <th>Contraseña</th>
             <th>Fecha de creación</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr>   
             <th>1</th>
             <th>Usuario01</th>
             <th>***</th>
             <th>30/10/2025</th>
             <th>
               <button class="edit" (click)="editUser()"><mat-icon aria-hidden="false" fontIcon="edit"></mat-icon></button>
               <button class="delete" (click)="deleteUser()"><mat-icon aria-hidden="false" fontIcon="delete"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>