<div class="header-row">
  <h1>Gestión de usuarios</h1>
  <button class="add" (click)="createUser()">
    <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
    Crear usuario
  </button>
</div>

<div class="content1">
  <p class="enter">Buscar usuario:</p>
  <input type="text" placeholder="Ingrese usuario..." [(ngModel)]="searchTerm">

  <div class="botons">
    <button class="boton1" (click)="search()">
      <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
      Buscar
    </button>


  </div>

</div>

<div class="miniselect">
  <div class="filter-section">
    <mat-form-field appearance="fill">
      <mat-label>Filtrar por estado</mat-label>
      <mat-select [(value)]="filtroEstado" (selectionChange)="aplicarFiltroEstado()">
        <mat-option value="">Todos</mat-option>
        <mat-option value="Habilitado">Habilitados</mat-option>
        <mat-option value="Deshabilitado">Deshabilitados</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>





<div class="table">
  <table>
    <thead>
      <tr>
        <th>Nro °</th>
        <th>Nombre</th>
        <th>Contraseña</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Fecha de creación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of paginatedUsuarios; let i = index">
        <th>{{ (pageIndex * pageSize) + i + 1 }}</th>
        <th>{{usuario.nombre}}</th>
        <th>{{ ocultarPassword(usuario.password) }}</th>
        <th>{{usuario.role}}</th>
        <th [ngClass]="{
      'estado-habilitado': usuario.status === 'Habilitado',
      'estado-deshabilitado': usuario.status === 'Deshabilitado'
    }">
          {{ usuario.status }}
        </th>
        <th>{{usuario.createdAt | date:'dd-MM-yyyy'}}</th>
        <th>
          <button class="edit" (click)="editUser(usuario)"><mat-icon aria-hidden="false"
              fontIcon="edit"></mat-icon></button>

          <button *ngIf="usuario.status === 'Deshabilitado'" (click)="habilitar(usuario.id!)" class="edit"
            style="background-color: rgb(47, 255, 47);">
            <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
          </button>

          <button *ngIf="usuario.status === 'Habilitado'" (click)="deshabilitar(usuario.id!)" class="edit"
            style="background-color: rgb(119, 5, 234);">
            <mat-icon aria-hidden="false" fontIcon="hide_source"></mat-icon>
          </button>

          <button class="delete" (click)="deleteUser(usuario.id!)"><mat-icon aria-hidden="false"
              fontIcon="delete"></mat-icon></button>
        </th>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="usuarios.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 8, 10, 20]">
  </mat-paginator>
</div>

<br><br><br><br>