<div class="header-row">
  <h1>Generar salida:</h1>
  <div class="botons">
    <button class="salida" (click)="gestor()">
      Gestión de salida
    </button>
    <button class="add" (click)="addProduct()">
      <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
      Añadir producto
    </button>
  </div>
</div>

<div class="forms">

  <div>
    <mat-form-field>
  <mat-label>Seleccionar destino:</mat-label>
  <mat-select [(value)]="selectedUserId" (selectionChange)="filtrarPorUsuario()" 
  [formControl]="destino">
    <mat-option *ngFor="let user of usuarios" [value]="user.id">
      {{ user.nombre}}
    </mat-option>
  </mat-select>
</mat-form-field>
  </div>

</div>

<br><br>

<div>
  <h2>Productos agregados a la salida:</h2>
</div>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Nro°</th>
        <th>Producto</th>
        <th>Categoría</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody style="text-align: center;">
      <tr *ngFor="let item of pagedSalidas; let i = index">
        <td>{{ (pageIndex * pageSize) + i + 1 }}</td>
        <td>{{ item.productName }}</td>
        <td>{{ item.productCategory }}</td>
        <td>{{ item.quantity }}</td>

        <td>
          <button class="delete" (click)="deleteSalida(i)">
            <mat-icon fontIcon="remove"></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator [length]="salidas.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<br><br>

<div style="display: flex; gap: 30px;">
  <div>
    <h2>Cantidad total:</h2>
    <h3>{{ totalCantidad }}</h3>
  </div>
</div>

<br>

<button class="salida" style="height: 52px; width: 220px;" (click)="realizarSalida()">
  Realizar salida
</button>