<div class="header-row">
  <h1>Generar salida:</h1>
  <div class="botons">
    <button class="salida" (click)="gestor()">
      Gestión de salida
    </button>
    <button class="add" (click)="addProduct()">
      <mat-icon fontIcon="add" class="icon-btn"></mat-icon>
      Añadir producto
    </button>
  </div>
</div>

<div>
  <h3>Asignado a:</h3>

  <mat-form-field appearance="fill" style="width: 280px;">
  <mat-label>Asignado a</mat-label>

  <input
    matInput
    [(ngModel)]="asignadoA"
  />
</mat-form-field>
</div>

<div>
  <h2>Productos agregados a la salida:</h2>
</div>

<div class="table">
  <table>
    <thead>
      <tr>
        <th>Nro°</th>
        <th>Producto</th>
        <th>Categoría</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody style="text-align: center;">
      <tr *ngFor="let item of pagedSalidas; let i = index">
        <th>{{ (pageIndex * pageSize) + i + 1 }}</th>
        <th>{{ item.productName }}</th>
        <th>{{ item.productCategory }}</th>
        <th>{{ item.quantity }}</th>

        <td>
          <button class="delete" (click)="deleteSalida(i)">
            <mat-icon fontIcon="remove"></mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator [length]="salidas.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

<br><br>

<div style="display: flex; gap: 30px;">
  <h2 style="margin-top:20px;">
  Cantidad total: {{ totalCantidad }}
 </h2>
</div>

<br>

<button class="salida" style="height: 52px; width: 220px;" (click)="realizarSalida()">
  Realizar salida
</button>