<div class="header-row">
  <h1>Productos</h1>
</div>

<div class="content1">
  <p class="enter">Ingrese Producto:</p>
<input type="text" placeholder="Buscar producto..." [(ngModel)]="searchTerm">

<button class="boton1" (click)="search()">
  <mat-icon fontIcon="search" class="icon-btn"></mat-icon>
  Buscar
</button>
</div> 

<div class="miniselect">

  <div class="filter-section">
  <mat-form-field appearance="fill">
    <mat-label>Filtrar por categoría</mat-label>
    <mat-select [(value)]="selectCategoryId" (selectionChange)="filtrarPorCategoria()">
      <mat-option value="">Todas</mat-option>
      <mat-option *ngFor="let cat of categorias" [value]="cat.id">
        {{ cat.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="filter-section">
  <mat-form-field appearance="fill">
    <mat-label>Filtrar por marca</mat-label>
    <mat-select [(value)]="selectMarcaId" (selectionChange)="filtrarPorMarca()">
      <mat-option value="">Todas</mat-option>
      <mat-option *ngFor="let marca of marcas" [value]="marca.id">
        {{ marca.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

</div>




<div class="table">
     <table>
         <thead>
           <tr>   
             <th>Nombre del producto</th>
             <th>Imagen</th>
             <th>Marca</th>
             <th>Estado</th>
             <th>Categoria</th>
             <th>Precio</th>
             <th>Acciones</th>
           </tr>
         </thead>
         <tbody>
          <tr *ngFor="let producto of productos">
            <th>{{producto.name}}</th>   
             <th><img [src]="producto.image" alt="Imagen" width="50"></th>
             <th>{{producto.marca?.name}}</th>
             <th>{{producto.status}}</th>
             <th>{{producto.category?.name}}</th>
             <th>S/.{{ producto.price | number: '1.2-2' }}</th>
             <th>
               <button class="view" (click)="view(producto)"><mat-icon aria-hidden="false" fontIcon="visibility"></mat-icon></button>
             </th>
           </tr>
         </tbody>
      </table>
</div>